div.container, div.card-1, div.card-2 {
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;
    width: 94%;
    height: max-content;
}

// Cards
div.card-1 {
    background: pink; border-radius: 1%;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
}

div.card-2 {
    background: lightblue; border-radius: 1%;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
}

div.left {
    width: 49%;
    margin-right: 1%;
}

div.right {
    width: 49%;
    margin-left: 1%;
    float: right;
}

div.title {
    span {
        font-size: 50;
        font-weight: bolder;
    }

    hr {
        border: none;
        height: 2px;
    }
}

div.subtitle-1 {
    span {
        font-size: 30;
        font-weight: bolder;
    }

    hr {
        border: none;
        height: 1px;
    }
}

div.subtitle-2 {
    span {
        font-size: 30;
        font-weight: bold;
    }

    hr {
        border: none;
        height: 1px;
    }
}

div.header {
    background: rgba($color: white, $alpha: 0.7);
}

div.footer {
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}