// update-time: 2022/1/10
// Authour: Jim

@import "div", "button";

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    // max-width: max-content;
    min-height: max-content;
    background-size: contain;
    scroll-behavior: smooth;
}

ul.navbar > li {
    display: inline-block;
    margin: 0 5%;
    
    label {
        cursor: pointer;
        font-weight: bold;
        transition: all 100ms ease-in-out;
        
        border-bottom: 2px solid transparent;
        
        &.disabled {
            cursor: default;
            pointer-events: none;
        }

        button {
            display: none;
        }
    }
}


input[type="text"] {
    border-width: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

::-webkit-scrollbar {
    width: 18px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: rgb(100, 100, 100);
    
    &:hover {
        background-color: rgb(150, 150, 150);
    }
}

img {
    max-height: 100%;
    max-width: 100%;
}

hr.divider {
    height: 20px;
    width: 100%;
    border: none;
}

