@import "div", "button";

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    // max-width: max-content;
    min-height: max-content;
    background-size: contain;
}

img {
    max-height: 100%;
    max-width: 100%;
}

hr.divider {
    height: 20px;
    width: 100%;
    border: none;
}

