@import "div", "button";

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    // max-width: max-content;
    min-height: max-content;
    background-size: contain;
}

input[type="text"] {
    border-width: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-thumb {
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: rgb(100, 100, 100);
    
    &:hover {
        background-color: rgb(150, 150, 150);
    }
}

img {
    max-height: 100%;
    max-width: 100%;
}

hr.divider {
    height: 20px;
    width: 100%;
    border: none;
}

