body {
  background: wheat;
}

#problem > span {
  font-size: x-large;
}

#problem > div {
  width: 100%;
  text-align: center;
}

#problem > div > label {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  margin: 0 5%;
  padding: 2% 0;
  border: 5px solid orange;
  background-color: white;
  border-radius: 25px;
  font-size: x-large;
  cursor: pointer;
}

#problem > div > label:hover {
  background-color: white;
  border-color: green;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#problem input {
  display: none;
}

#problem input:checked + label {
  background-color: green;
  border-color: white;
  color: white;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

ul.navbar > li {
  font-size: x-large;
}

ul.navbar > li label {
  color: blue;
}

ul.navbar > li label:hover {
  border-bottom-color: red;
}

ul.navbar > li label.disabled {
  color: purple;
  border-bottom-color: blue;
}

textarea {
  width: 100%;
  resize: none;
  cursor: text;
  white-space: pre;
}

button.standard {
  font-size: large;
}

button.standard:hover:enabled {
  background: gray;
  color: white;
}

button.standard:active:enabled {
  background: black;
}

div.title span {
  color: green;
}

div.title hr {
  background: green;
}

div.subtitle-1 span {
  color: darkorange;
}

div.subtitle-1 hr {
  background: darkorange;
}

div.subtitle-2 span {
  color: gray;
}

div.subtitle-2 hr {
  background: gray;
}
